# Core modules (mandatory)
jupyterlite-core==0.5.0
jupyterlab~=4.3.4
notebook~=7.3.2

# Kernels
jupyterlite-pyodide-kernel==0.5.0
jupyterlite-javascript-kernel==0.3.0

# JupyterLab Plugins
jupyterlab-fasta>=3.3.0,<4
jupyterlab-geojson>=3.4.0,<4

# JupyterLab Themes
jupyterlab-night
jupyterlab_miami_nights
